* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #040D12;
}
header .nav-logo {
  background-color: #040D12;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-logo img {
  width: 50px;
  height: 50px;
}
header .navbar-expand-lg .navbar-nav {
  margin: 0 auto;
  gap: 30px;
}
header .navbar-expand-lg .navbar-nav a {
  color: #ECE3CE;
  font-size: 30px;
  font-weight: bold;
}
header .navbar-toggler {
  background-color: #040D12;
}
@media (min-width: 576px) {
  header .nav-logo {
    height: 100px;
  }
  header .nav-logo img {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 768px) {
  header .nav-logo {
    height: 150px;
  }
  header .nav-logo img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  header .nav-logo {
    height: 170px;
  }
  header .nav-logo img {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1220px) {
  header .nav-logo {
    height: 200px;
  }
  header .nav-logo img {
    width: 170px;
    height: 170px;
  }
}

.hero-carrousel {
  width: 100%;
  height: 200px;
}
.hero-carrousel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 70%;
}
@media (min-width: 576px) {
  .hero-carrousel {
    height: 300px;
  }
  .hero-carrousel img {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .hero-carrousel {
    height: 600px;
  }
  .hero-carrousel img {
    height: 600px;
  }
}

.productos-contenedor {
  background-image: url(/asset/img/Slice\ 1bg-yerbamate1.png);
  background-size: cover;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
}
.productos-contenedor .productos-card {
  padding: 5px 30px;
  background-color: #5C8374;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 20px 20px;
}
.productos-contenedor .productos-card .productos-card-img {
  margin-top: 10px;
  position: relative;
}
.productos-contenedor .productos-card .productos-card-img .card-img-1 {
  background-color: none;
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
}
.productos-contenedor .productos-card .productos-card-img .card-img-2 {
  background-color: none;
  width: 90px;
  height: 100px;
  position: absolute;
  left: 20%;
  bottom: -12%;
  transform: translateX(-50%);
  padding-bottom: 5px;
}
.productos-contenedor .productos-card .productos-card-img .card-img-3 {
  background-color: none;
  width: 155px;
  height: 160px;
  display: flex;
  justify-content: center;
}
.productos-contenedor .productos-card .productos-card-img .card-img-4 {
  background-color: none;
  width: 155px;
  height: 160px;
  display: flex;
  justify-content: center;
}
@media (min-width: 400px) {
  .productos-contenedor .productos-card .productos-card-img .card-img-1 {
    width: 100px;
    height: 120px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-2 {
    width: 90px;
    height: 110px;
  }
}
@media (min-width: 552px) {
  .productos-contenedor .productos-card .productos-card-img .card-img-1 {
    width: 140px;
    height: 160px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-2 {
    width: 120px;
    height: 130px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-3 {
    background-color: none;
    width: 165px;
    height: 170px;
    display: flex;
    justify-content: center;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-4 {
    background-color: none;
    width: 165px;
    height: 170px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .productos-contenedor .productos-card .productos-card-img .card-img-1 {
    width: 160px;
    height: 200px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-2 {
    width: 140px;
    height: 160px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-3 {
    background-color: none;
    width: 180px;
    height: 185px;
    display: flex;
    justify-content: center;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-4 {
    background-color: none;
    width: 180px;
    height: 185px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .productos-contenedor .productos-card .productos-card-img .card-img-1 {
    width: 200px;
    height: 230px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-2 {
    width: 160px;
    height: 170px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-3 {
    background-color: none;
    width: 190px;
    height: 195px;
    display: flex;
    justify-content: center;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-4 {
    background-color: none;
    width: 190px;
    height: 195px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1220px) {
  .productos-contenedor .productos-card .productos-card-img .card-img-1 {
    width: 200px;
    height: 220px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-2 {
    width: 190px;
    height: 200px;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-3 {
    background-color: none;
    width: 335px;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  .productos-contenedor .productos-card .productos-card-img .card-img-4 {
    background-color: none;
    width: 335px;
    height: 250px;
    display: flex;
    justify-content: center;
  }
}
.productos-contenedor .productos-card .productos-card-texto {
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ECE3CE;
  text-align: center;
}
.productos-contenedor .productos-card .productos-card-texto h4 {
  font-size: 12px;
}
@media (min-width: 400px) {
  .productos-contenedor .productos-card .productos-card-texto h4 {
    font-size: 15px;
  }
}
@media (min-width: 552px) {
  .productos-contenedor .productos-card .productos-card-texto h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .productos-contenedor .productos-card .productos-card-texto h4 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .productos-contenedor .productos-card .productos-card-texto h4 {
    font-size: 40px;
  }
}
.productos-contenedor .productos-card .productos-card-button {
  background-color: none;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.productos-contenedor .productos-card .productos-card-button a {
  border: 1px solid #040D12;
  background-color: #040D12;
  font-size: 10px;
  font-weight: bold;
}
@media (min-width: 400px) {
  .productos-contenedor .productos-card .productos-card-button a {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .productos-contenedor .productos-card .productos-card-button a {
    font-size: 20px;
  }
}

.imagen-mate {
  display: flex;
  justify-content: center;
  padding: 0px;
  background-image: url(/asset/img/Frame\ 1bg-yerba-2.png);
  background-size: contain;
}

.calidad-contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: none;
  background-image: url(/asset/img/Slice\ 1bg-yerbamate1.png);
  background-size: cover;
}
.calidad-contenedor .calidad-card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 20px 0px;
}
@media (min-width: 600px) {
  .calidad-contenedor .calidad-card {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.calidad-contenedor .calidad-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.calidad-contenedor .calidad-imagen img {
  width: 200px;
  height: 220px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 10px -6px 1px 1px rgb(92, 131, 116);
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .calidad-contenedor .calidad-imagen img {
    width: 300px;
    height: 400px;
    border-radius: 80px 0 80px 0;
  }
}
@media (min-width: 768px) {
  .calidad-contenedor .calidad-imagen img {
    width: 350px;
    height: 400px;
    border-radius: 100px 0 100px 0;
  }
}
@media (min-width: 992px) {
  .calidad-contenedor .calidad-imagen img {
    width: 400px;
    height: 450px;
    border-radius: 100px 0 100px 0;
  }
}
@media (min-width: 1220px) {
  .calidad-contenedor .calidad-imagen img {
    width: 450px;
    height: 500px;
    border-radius: 100px 0 100px 0;
  }
}
.calidad-contenedor .calidad-descripcion {
  background-color: #5C8374;
  color: #ECE3CE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px;
}
.calidad-contenedor .calidad-descripcion h3 {
  font-size: 20px;
}
.calidad-contenedor .calidad-descripcion h4 {
  font-size: 15px;
}
.calidad-contenedor .calidad-descripcion p {
  font-size: 15px;
}
.calidad-contenedor .calidad-descripcion p .resaltar {
  font-weight: bold;
}
.calidad-contenedor .calidad-descripcion a {
  border: 1px solid #040D12;
  background-color: #040D12;
  font-size: 15px;
}
@media (min-width: 600px) {
  .calidad-contenedor .calidad-descripcion {
    border-radius: 50px 0px 80px 50px;
    margin-left: 20px;
    width: 50%;
  }
  .calidad-contenedor .calidad-descripcion h3 {
    font-size: 25px;
  }
  .calidad-contenedor .calidad-descripcion h4 {
    font-size: 18px;
  }
  .calidad-contenedor .calidad-descripcion p {
    text-align: justify;
    font-size: 15px;
  }
  .calidad-contenedor .calidad-descripcion a {
    border: 1px solid #040D12;
    background-color: #040D12;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .calidad-contenedor .calidad-descripcion {
    border-radius: 70px 0px 100px 70px;
    margin-left: 5px;
  }
  .calidad-contenedor .calidad-descripcion h3 {
    font-size: 25px;
  }
  .calidad-contenedor .calidad-descripcion h4 {
    font-size: 18x;
  }
  .calidad-contenedor .calidad-descripcion p {
    font-size: 15px;
    padding-top: 1px;
  }
  .calidad-contenedor .calidad-descripcion a {
    border: 1px solid #040D12;
    background-color: #040D12;
    font-size: 18px;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .calidad-contenedor .calidad-descripcion {
    border-radius: 90px 0px 120px 90px;
    margin-left: 20px;
  }
  .calidad-contenedor .calidad-descripcion h3 {
    font-size: 35px;
  }
  .calidad-contenedor .calidad-descripcion h4 {
    font-size: 25px;
  }
  .calidad-contenedor .calidad-descripcion p {
    font-size: 20px;
    padding-top: 2px;
  }
  .calidad-contenedor .calidad-descripcion a {
    border: 1px solid #040D12;
    background-color: #040D12;
    font-size: 20px;
  }
}
@media (min-width: 1220px) {
  .calidad-contenedor .calidad-descripcion {
    border-radius: 90px 0px 120px 90px;
    margin-left: 15px;
  }
  .calidad-contenedor .calidad-descripcion h3 {
    font-size: 40px;
  }
  .calidad-contenedor .calidad-descripcion h4 {
    font-size: 30px;
  }
  .calidad-contenedor .calidad-descripcion p {
    font-size: 20px;
    padding-top: 10px;
  }
  .calidad-contenedor .calidad-descripcion a {
    border: 1px solid #040D12;
    background-color: #040D12;
    font-size: 20px;
  }
}

.nosotros-contenedor {
  background-color: #5C8374;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 10px;
  margin-top: 30px;
}
.nosotros-contenedor .nosotros-titulo {
  background-image: url(/asset/img/mate-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ECE3CE;
  padding: 20px;
}
.nosotros-contenedor .nosotros-titulo h2 {
  font-size: 0px;
}
.nosotros-contenedor .nosotros-texto {
  color: #ECE3CE;
}
.nosotros-contenedor .nosotros-texto p {
  font-size: 12px;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .nosotros-contenedor .nosotros-titulo h2 {
    font-size: 70px;
  }
  .nosotros-contenedor .nosotros-titulo h3 {
    font-size: 30px;
  }
  .nosotros-contenedor .nosotros-texto p {
    font-size: 15px;
  }
}
@media (min-width: 600px) {
  .nosotros-contenedor .nosotros-titulo h2 {
    font-size: 100px;
  }
  .nosotros-contenedor .nosotros-titulo h3 {
    font-size: 60px;
  }
  .nosotros-contenedor .nosotros-texto p {
    font-size: 18px;
  }
}
@media (min-width: 700px) {
  .nosotros-contenedor .nosotros-titulo h2 {
    font-size: 110px;
  }
  .nosotros-contenedor .nosotros-titulo h3 {
    font-size: 60px;
  }
  .nosotros-contenedor .nosotros-texto p {
    font-size: 30px;
  }
}
@media (min-width: 900px) {
  .nosotros-contenedor .nosotros-titulo h2 {
    font-size: 150px;
  }
  .nosotros-contenedor .nosotros-titulo h3 {
    font-size: 60px;
  }
  .nosotros-contenedor .nosotros-texto p {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .nosotros-contenedor .nosotros-titulo h2 {
    font-size: 150px;
  }
  .nosotros-contenedor .nosotros-titulo h3 {
    font-size: 70px;
  }
  .nosotros-contenedor .nosotros-texto p {
    font-size: 40px;
  }
}

footer {
  background-color: #040D12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .primer-seccion-footer {
  padding: 25px;
}
footer .primer-seccion-footer h2 {
  color: #ECE3CE;
  font-size: 20px;
}
footer .segunda-seccion-footer {
  display: flex;
  flex-direction: column;
}
footer .segunda-seccion-footer h3 {
  color: #ECE3CE;
  font-size: 20px;
  margin-bottom: 15px;
}
footer .segunda-seccion-footer .redes-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
footer .segunda-seccion-footer .redes-footer img {
  width: 30px;
}
footer .logo-footer {
  padding: 30px;
}
footer .logo-footer img {
  width: 100px;
}
@media (min-width: 600px) {
  footer .primer-seccion-footer h2 {
    font-size: 30px;
  }
  footer .segunda-seccion-footer h3 {
    font-size: 30px;
  }
  footer .segunda-seccion-footer .redes-footer img {
    width: 40px;
  }
}
@media (min-width: 900px) {
  footer .primer-seccion-footer h2 {
    font-size: 40px;
  }
  footer .segunda-seccion-footer h3 {
    font-size: 40px;
  }
  footer .segunda-seccion-footer .redes-footer img {
    width: 50px;
  }
}

main {
  background-color: #040D12;
}

/*# sourceMappingURL=main.css.map */
