header{
    background-color: $color-primario;
    .nav-logo{
        background-color: $color-primario;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
           width: 130px;
           height: 100px;
        }  
    }
    .navbar-expand-lg .navbar-nav{
        margin: 0 auto;
        gap: 30px;
       a{
        color: $color-secundario;
        font-size: 30px;
        font-weight: bold;
       }
    }
    .navbar-toggler {
        background-color:$color-primario;
    }

    @media (min-width: 576px) {
        .nav-logo{
            height: 150px;
            img{
                width: 150px;
                height: 130px;
            }
        }
    }
    @media (min-width: 768px) {
        .nav-logo{
            height: 150px;
            img{
                width: 160px;
                height: 130px;
            }
        }
    }
    @media (min-width: 992px) {
        .nav-logo{
            height: 170px;
            img{
                width: 160px;
                height: 130px;
            }
        }
        
    }
    @media (min-width: 1220px) {
        .nav-logo{
            height: 200px;
            img{
                width: 190px;
                height: 170px;
            }
        }
        
    }
    
}