.nosotros-contenedor{
    background-color: $color-terciario;
   
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap:10px;
    margin-top: 30px;
    .nosotros-titulo{
        background-image: url(/asset/img/mate-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $color-secundario;
        padding: 20px;
        h2{
            font-size: 0px;
        }
    }
    .nosotros-texto{
        color: $color-secundario;
        p{
            font-size: 12px;
            margin: 0 auto;
        }    
        
    }
    @media (min-width: 400px) {
        .nosotros-titulo{
            h2{
                font-size: 70px;
            }
            h3{
                font-size: 30px;
            }
        }
        .nosotros-texto{
            p{
                font-size: 15px;
            }    
        }
    }
    @media (min-width: 600px) {
        .nosotros-titulo{
            h2{
                font-size: 100px;
            }
            h3{
                font-size: 60px;
            }
        }
        .nosotros-texto{
            p{
                font-size: 18px;
            }    
        }
    }
    @media (min-width: 700px) {
        .nosotros-titulo{
            h2{
                font-size: 110px;
            }
            h3{
                font-size: 60px;
            }
        }
        .nosotros-texto{
            
            p{
                font-size: 30px;
            }    
        }
    }
    @media (min-width: 900px) {
        .nosotros-titulo{
            h2{
                font-size: 150px;
            }
            h3{
                font-size: 60px;
            }
        }
        .nosotros-texto{
            p{
                font-size: 35px;
            }    
        }
    }
    @media (min-width: 1200px) {
        .nosotros-titulo{
            h2{
                font-size: 150px;
            }
            h3{
                font-size: 70px;
            }
        }
        .nosotros-texto{  
            p{
                font-size: 40px;
            }    
        }
    }

}