.nosotros-contenedor{
    background-color: $color-terciario;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap:1px;
    margin-top: 30px;
    .nosotros-img{
       img{
        width: 75%;
        height: 100%;
       }
    }
    .nosotros-texto{
        color: $color-secundario;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p{
            font-size: 12px;
            
        }    
        
    }
    @media (min-width: 400px) {
       
        .nosotros-texto{
            p{
                font-size: 15px;
            }    
        }
    }
    @media (min-width: 600px) {
         
        
        .nosotros-texto{
            p{
                font-size: 15px;
            }    
        }
    }
    @media (min-width: 700px) {
       
        .nosotros-texto{
            
            p{
                font-size: 15px;
            }    
        }
    }
    @media (min-width: 992px) {
        
        .nosotros-texto{
            p{
                font-size: 20px;
            }    
        }
    }
    @media (min-width: 1200px) {
        
        .nosotros-texto{  
            p{
                font-size: 20px;
            }    
        }
    }

}